@model TodoMVC.Web.Models.ViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h2>todos</h2>
        <input type="text" class="form-control" id="content" name="content" value="@Model.ToDoModel.Content" placeholder="What needs to be done?">
    </div>
}
