<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<form class="input">
    <h2>todoList</h2>
    <input type="text" class="form-control" id="content" placeholder="What needs to be done?">
</form>
<br />
<input type="button" class="btnAll btn btn-info active" value="All">
<input type="button" class="btnActive btn btn-info" value="Active">
<input type="button" class="btnCompleted btn btn-info" value="Completed">
<input type="button" class="btnClear btn btn-info" value="Clear Completed">
<div class="toDoList" id="toDoList"></div>


<script>

    $(document).ready(function () {
        var status = ""
        todoList(status);
    });


    function todoList(status) {
        $.ajax({
            url: '/Ajax/List',
            data: { "status": status },
            type: 'get',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                data = JSON.parse(data);
                if (data.length > 0) {
                    $('#toDoList').empty();
                    $.each(data, function (i, item) {
                        $("#toDoList").append("<hr><input type='button' class='btnStatus btn btn-success' id='" + item.Id + "' name='" + status + "' value='" + (item.Status ? "V" : "  ") + "'style='padding: 3px 7px; border-radius: 18px;'/>   " + (item.Status ? "<strike>" + item.Content + "</strike >" : item.Content) + "    <input type='button' class='btnDelete btn btn-mini btn-danger' style='padding: 3px 7px; border-radius: 18px;' id='" + item.Id + "'name='" + status + "'value='X'>");
                    });
                }
                else {
                    $('#toDoList').empty();
                }
            }
        });
    }

    function create(inputValue) {
        $.ajax({
            url: '/Ajax/Create',
            data: { content: inputValue },
            type: 'post',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                todoList();
            }

        });

    }


    function clear() {
        $.ajax({
            url: '/Ajax/Clear',
            type: 'post',
            cache: false,
            async: false,
            success: function () {
                todoList();
            }
        });
    }
    function delete1(deleteId,status) {
        $.ajax({
            url: '/Ajax/Delete',
            data: { id: deleteId },
            type: 'post',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                todoList(status);
            }
        });
    }
    function changeStatus(changeId,status) {
        $.ajax({
            url: '/Ajax/Update',
            data: { id: changeId },
            type: 'post',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                todoList(status);
            }
        });
    }

    $(function () {

        $(".input").submit(function () {
            var inputValue = $("#content").val();
            if (inputValue) {
                create(inputValue);
                $('#content').val("");
            }
            return false;
        });

        $(document).on('click', '.btnDelete', function () {
            var deleteId = this.id;
            let status = $(this).attr('name');
            delete1(deleteId, status);            
        });

        $(document).on('click', '.btnStatus', function () {
            let changeId = this.id;      
            let status = $(this).attr('name');
            changeStatus(changeId, status);        
        });

        $(document).on('click', '.btnClear', function () {
            clear();
        });

        $(document).on('click', '.btnAll', function () {
            todoList();
        });
        $(document).on('click', '.btnActive', function () {
            todoList(false);
        });
        $(document).on('click', '.btnCompleted', function () {
            todoList(true);
        });

    });


</script>